@CHARSET "ISO-8859-1";
/*
 Logo colours 54BCEB 3B6E8F
 Map background: 3c668d
 orange: e89c14
previous font colour: 3B6E8F
current font colour:  0b5888



*/
html, body {

    font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 12px;
    background-color: #EBEBEB;
    margin: 0px 3px;
    padding: 0px;
}

/*
html, body *{
    color:teal;
}
*/

div.z-listbox {
    border:0px;
    background-image: -moz-linear-gradient(bottom, #fafbf5, #e8eace); /* FF3.6 */
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fafbf5),color-stop(1, #e8eace)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#e8eace', EndColorStr='#fafbf5'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e8eace', EndColorStr='#fafbf5')"; /* IE8 */
}

.z-vbox {
    width: 100%;
}

.z-west-splt {
    background: #EBEBEB;
}

.hr {
    width: 80%;
    color:#7391ad;
    border: 0 none;
    border-bottom:1px solid #EEEEEE;
    margin: 8px auto;
    height: 1px;
}


.h1 { font-size: 20px! important; font-weight: bold; padding-top: 5px; letter-spacing:-1px;}
.h2 { font-size: 18px! important; font-weight: bold; margin-left: 10px;
      letter-spacing:-2px; padding-top: 15px;padding-bottom: 0px; clear:both; display:block;}
.h3 { color:teal; font-size: 12px; font-weight: bold; padding-top: 5px;}
.h4 { color:teal; font-size: 10px;  padding-top: 5px;}
.h5 { color:teal; font-size: 10px; }
.h6 { color:teal; font-size: 9px; }




h1 { color:#bbb; font-size: 24px; font-weight: bold; }
h2 { color:#bbb; font-size: 16px; font-weight: bold;}
h3 { color:teal; font-size: 12px; font-weight: bold; margin-bottom:2px;}
h4 { color:teal; font-size: 10px;  margin: 0px 2px;}
h5 { color:teal; font-size: 10px;  margin: 0px 2px;}
h6 { color:teal; font-size: 9px;  margin: 0px 2px; display:inline;	}

.title {
    /*background-color: #727DAD;*/
    /*background:transparent url(../img/h2background.png?) no-repeat scroll -200px 5px;*/

    border-bottom: 3px solid teal;
    margin-left:6px;
    margin-right:6px;
    padding-bottom:2px;
    padding-left:10px;
    padding-top:10px;
}

input {
    padding:0px;
    margin: 0px 4px;
    padding-left: 3px;
}
select {

    margin: 0px 4px;
    border: 1px solid #86A4BE;
    padding-left: 3px;
}
a {
    /*color: black;*/
}
a:hover{
    color: grey;
}
tr.z-listitem, tr.z-listitem a, tr.z-listitem a:visited {
    color: #0b5888 !important;
}
a[rel="external"], a.external {
    /*white-space: nowrap;*/
    padding-right: 15px;
    background: url(../img/extlink.gif) no-repeat 100% 50%;
    zoom: 1;
}



.required {
    white-space: nowrap;
    padding-left: 12px;
    background: url(../img/required.png) no-repeat 0% 50%;
}

.error , .z-errbox{
    padding: 3px !important;
    margin:10px !important;
    background: #e55e04 !important;
    color: white !important;
    font-weight: bold;
    clear: both;
    display: block;
    border: 0px !important;
    cursor: inherit !important;


}

.z-errbox td{
    color: white !important;
}

.right {

    float: right;
    right: 0;
}

.z-north {
    background: #EBEBEB url(../img/ala.png) no-repeat top left;
    height: 45px;
}
.z-south {
    background: #EBEBEB top left;
}
.extlink {
    margin-left: 2px;
}

.inputlabel {
    width: 70px;
    display: block;
    float: left;
    padding-top: 3px;

}
.inputlabelspaced {

    float: left;
    padding-top: 3px;

}

.inputlabelwide {
    width: 95px;
    display: block;
    float: left;
    padding-top: 3px;
    whitespace:nowrap;
}


.list {
    display: block;
    margin-left: 2px;
    padding-left: 2px;
    font-size: 11px;
    font-weight: normal;
}

.highlighted {
    margin: 5px 5px;
    padding: 5px;
    background-color: #fafafa;
    border:1px solid #eee;
}
.mestsearch {
    /*margin: 10px 0px 10px 5px;*/
    padding:  2px;
    /*border:1px solid #eee;*/
    overflow: scroll;
}
.mestsearch td {
    padding: 5px 2px;
}
.mestsearchContainer .mestsearch {
    background: none;
    padding: 5px;
    padding-top: 15px;
    margin: 0;

}
.mestsearchContainer .z-listcell-cnt {
    padding: 1px 10px;
}

/* paging in mest search results */
.pagingDiv {
    float: left;
    display: inline;
}
/* paging buttons in mest search results */
.pagingbutton-cm {
    font-weight:bolder;
    font-size: 9px;
    letter-spacing:-2px;
    color: inherit;
}

.searchResTitle {
    float: left;
    display: block;
    width: 460px;
    font-size: 12px;
    font-weight: bold;
}

.createSavedSearch {
    float:right;
}
.savesearchdiv {
    float: right;
}
.searchFooterContainer {
    margin:0px 5px;
}

.z-modal-mask {
    background:#666666 none repeat scroll 0 0 !important;
}

.z-separator-hor {
    /*height:0px;*/
    clear: both;
}
.resetdiv {
    padding-bottom:4px;
    padding-right:12px;
}
.hidden_image img {
    display: none
}

.floatcentre {
    margin: 0 auto;
}


.bold {
    font-weight: bold;
}
.spaced {
    margin: 10px 0px;
}
.spacedUp {
    bottom: 5px;
    position: relative;
    margin: 0px 10px;
}
.spacedDown {
    top: 5px;
    position: relative;
    margin: 0px 10px;
}

.inputspace {
    margin-bottom: 5px ;
}
.z-center {

}
.z-center-body {
    background-color: #EBEBEB;
    /*removed for openlayers polygon borders in wkhtmltoimage
    border: 1px solid #ccc;*/
}


.z-west-header {
    font-size: 16px;
    font-family: Verdana,Tahoma,Arial, "lucida console", sans-serif;
    padding-left: 10px;
    font-weight: bold;
    background-color: #375c79;
    background-image: none;
}

.z-border-layout {
    background-color: #EBEBEB;
}
.z-west, .z-center, .z-east, .z-north, .z-south  {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: inherit;
}

.z-west {
    background-color: #fff;
    border-right: 0px;
    border-top: 0px;
    border: 0px solid white;
}

.z-west h1, .z-west h2 {
    margin: 5px;
    padding: 2px;
}
.westContent {
    background-color: #fff;
    border: 2px solid white;
    border-top: 1px solid #eee;
}
.westMinimised {
    background-color: #EBEBEB;
    height: 100%;
}
.z-west-header {
    display: none;
}

.z-north img {
    margin-left: 400px;
    margin-top: 40px;
}


.z-dottree {
    border: 0px;
    /*overflow:hidden;*/
}
.leftmenutabs {
    width: 100%;
    background-color: white;
}


.menuswitch  {
    background-image: none;
}
.menuswitcr  .z-tabpanels, z-tabs-space{
    display: none;
}
.menuswitch ul {
    border: none;
}
.menuswitch  .z-tabpanels, z-tabs-space{
    display: none;
}
.closebox {
    float:right;
    position: absolute;
    right: 0px;
}

.hiddentitle .z-tab-accordion-header {
    display: none;
}

.z-toolbar-tabs-outer, .z-tabs-scroll .z-tabs-cnt {
    background:#FFFFFF url(../img/base-shadow.png) repeat-x scroll left bottom;
    border:0 none !important;
    padding-top:5px;
}

.z-toolbar-tabs {
    background: transparent;
}

.z-tabs-scroll {
    border:0;
}

.z-tabpanel {
    border: 0;
}


.loginBoxCnt{
    background: none;
}
.loginBoxCnt .z-tabpanel {
    border: none;
    padding: 20px;
}


.z-tabs-space {
    display: none;
}
.z-tabpanels-accordion, .z-listbox {
    background: white;
}
.z-tabbox-accordion, .z-tabpanels-accordion, .z-tabpanel-accordion, div.z-dottree, div.z-tree {
    border: 0px;
    white-space: nowrap;
    background: white;
}
.z-tab-accordion-header div{
    background-image: none;
}

.z-tab-accordion{
    background: url(../img/base-shadow.png) repeat-x bottom left ;
}
.z-tab-accordion-header:hover {
    background-color: #e89c14;
    border-bottom: 0px solid #ddd ;
}

.z-tab-accordion-header {
    border: solid 0px white;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px solid #ddd ;
}


.tabheader{
    display: block;
    width: 100%;
    border-bottom: 1px dotted #ddd ;
    margin-bottom: 2px ;
    padding-bottom: 2px ;
}



.z-tab .z-tab-text{
    color: #01716E;
}

.z-tab .z-tab-hl:hover .z-tab-text {
    /*color: #7D8804;
    font-weight: bold; */
    color: #f00;
}


.z-tabs-cnt {
    background: #EBEBEB
}


.z-tab-accordion-seld {
    background-color: #ECECEC;
    margin-bottom: 10px;
    border-bottom: solid 2px teal ;
}
.z-tab-accordion-seld .z-tab-accordion-text,
.z-tab-accordion-header:hover  .z-tab-accordion-text{
    color: white;
}

.z-combobox .z-combobox-img {
    border-left: 1px solid #86A4BE;
}
.z-combobox-inp {
    width: 100%;
}
.z-datebox .z-datebox-img{
    border-left: 1px solid #86A4BE;
    border-bottom: 1px solid #86A4BE;
}

.z-dottree {
    border: 4px solid black;
}
.z-tree-ico {
    margin-left: 10px;
}
.z-listbox {
    margin-right: 15px;
}


.z-listcell, .z-listitem .z-listbox-odd {
    border-bottom: 1px dotted #ddd;
}



tr.z-listbox-odd {
    background: white;
}
tr.z-listcell, .z-listcell-cnt{
    padding-right: 10px;
}
tr.z-listitem-disd *,td.z-listcell-disd *{color:#C5CACB!important;cursor:default!important;}
tr.z-listitem-disd a:visited,tr.z-listitem-disd a:hover,td.z-listcell-disd a:visited,td.z-listcell-disd a:hover{
    text-decoration:none!important;cursor:default!important;border-color:#D0DEF0!important;}
tr.z-listitem-seld{background-color:#B3C8E8;border:1px solid #6f97d2;}

.mestsearchContainer tr.z-listitem-seld{
    background: #B3C8E8;
}

tr.z-listitem-seld *{color:white;}

.z-button  {
    font-size: 10px;
}

.z-button .z-button-tl,
.z-button .z-button-tm,
.z-button .z-button-tr,
.z-button .z-button-cl,
.z-button .z-button-cm,
.z-button .z-button-cr ,
.z-button .z-button-bl,
.z-button .z-button-bm,
.z-button .z-button-br {
    background: none;
}
.z-button .z-button-cl,
.z-button .z-button-cm,
.z-button .z-button-cr {
    background: #eee;
    padding: 2px 0px;
    font-weight: bold;
}
.z-button-over * {
    color: #333 !important;
}

tr.z-listitem-over{background:#dae7f6;}tr.z-listitem-over-seld{background:#6eadff;}

.z-listcell *  {
    /* Ajay: hiding this so the images for the groupped listbox turn on */
    /*background-image: none;*/
}
/* Ajay: changing the width so the listbox groupped image displays */
.z-listgroup-img {
    width: 14px;
}

.z-listcell img {
    padding-right: 6px;
}

.z-listcell , .z-treerow, .z-treecell{

    border-bottom: 1px dotted #ddd;
}



.toplinks {
    background: url(../img/mapshadow.png) repeat-x top left ;
    background-color: #EBEBEB;
    /*border: 1px solid white;
	border-top: 0px;
	border-bottom: 2px solid white;*/
    color: white;
    float:right;
    position: absolute;
    right: 0px;
    padding: 10px;
    padding-top:4px;
    padding-bottom:6px;
}
.toplinks a{
    color: teal;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 6px;
    text-decoration: none;
}
.toplinks a:hover{
    text-decoration: inherit;
}

.layerSwitcherContainer {
    margin-top:100px;
    padding: 5px;
    position: absolute;
    float: right;
    right: 0;
    z-index: 1000000000000;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
}
.layerSwitcherContainer_min {
    margin-top:100px;
    padding: 0px;
    position: absolute;
    float: right;
    right: 0;
    background: inherit;
}

.tabpanel_cnt  {
    border: 0px;
    margin:2px;
    background: white;

}
.highlighted .z-radio-cnt {
    font-size: 11px;
}


#specialoverlapped-tl {
    margin-right: 30px;
}


#ft  /* area with the copyright info */
{
    display: block;
    margin: 5px 30px;
    text-align: center;
    color: white;
    font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
}

#ft * {
    font-size: 10px;
    color: teal;
}

#ft a {
    color: blue;
}

#ft a:hover {
    color: white;
}
/*
.z-west-colpsd {
    display: none;
}*/

.motd-title {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #e89c14;
    padding: 10px;
    margin: 4px;
}

.white-background {
    background-color: white;
}



.buttons, .helpButtonMain, .goButton {
    /*margin:0 15px 0 0;*/
    /*padding: 5px 10px;*/
    display:block;
    /*height:5em;*/
    /*width:127px;*/
    overflow:hidden;
    border:1px solid #ccc;
    -moz-border-radius: 7px; /* FF1+ */
    -webkit-border-radius: 7px; /* Saf3+, Chrome */
    border-radius: 7px; /* Opera 10.5, IE 9 */
    background:transparent url(http://www.ala.org.au/wp-content/themes/ala/images/button_bg.png) right bottom repeat-x;
    line-height: 1em;
    padding: 5px;
    font-size: 9px;
    font-weight: bold;
    font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif;
    cursor: pointer;
}

.goButton {
    /*height: 38px;
    color: #EEEEEE;
    background-color: teal;
    font-size: 12px;*/
}

.fUploadButton {
    padding: 3px !important;
}

.helpButton {
    color: #EEEEEE;
    /*background:transparent url('/img/help.png') no-repeat left top;*/
    padding: 2px; 
}

.helpButtonMain {
    position: absolute;
    right: 30px;
    padding: 3px 10px;
    /*
    border: 1px solid #7EAAC6;
    background-color: #B4E7FF;
    */
    line-height: 1.6em; 

}
closebox a.helpButtonMain {
    text-decoration: none;
    color: teal;
}
.helpButtonMain:hover {
    background-color: #DEF4FF; /*#EFFBFF;*/
}
closebox a.helpButtonMain:hover {
    font-weight: bold; 
}

.exampleText {
    color: #AAA;
}

.z-tree-body {
    text-align: left; 
}
/*
* hide the north and south panels as the site will now be wrapped
* within an iframe via the test.ala.org.au

.z-north, .z-south {
    display: none;
}
*/

.z-tabs-cnt {
    color: #fff;
}

.z-tab .z-tab-text {
    color: #fff;
}

.z-tabs-left-scroll, .z-tabs-right-scroll, .z-tab-seld .z-tab-text  {
    color: #01716e;
}

.z-loading {
    top: 50% !important;
    left: 45% !important;
    align: center;
    vertical-align: middle;
}


/*******************************/
/* MAP SELECTOR DROPDOWN START */
/*******************************/
/* General */
#cssdropdown, #cssdropdown ul { list-style: none; font-weight: bold; font-size: 10px}
#cssdropdown, #cssdropdown * { padding: 0; margin: 0; }

/* Head links */
#cssdropdown li.headlink { width: 110px; float: left; padding: 5px; text-align: left; } /*border: 1px black solid; background-color: #e9e9e9; */
#cssdropdown li.headlink a { display: block; padding: 15px; }

/* Child lists and links */
#cssdropdown li.headlink ul { display: none; border-top: 1px black solid; text-align: left; margin-top: 10px;}
#cssdropdown li.headlink:hover ul { display: block; }
#cssdropdown li.headlink ul li a, .mapoption { padding: 5px 5px 5px 20px; height: 17px; text-decoration: none; line-height: 1.7em}
#cssdropdown li.headlink ul li a:visited { color: black;}
#cssdropdown li.headlink ul li a:hover, .mapoption:hover, .mapoption button:hover { background-color: #bbb; }

#cssdropdown li.headlink {/*background: #eee url(../img/world.png) no-repeat 8px 6px;*/background-color: #eee; padding:10px;}
.mapoptsel {background: #eee url(../img/arrow_right.png) no-repeat 1px 6px;}


.mapoption {
    border-top: 1px dotted black;
    padding: 5px 0 !important;
}

.mapoption button {
    border-color: transparent;
    font-weight: bold !important;
    font-size: 11px !important;
}

/*******************************/
/* MAP SELECTOR DROPDOWN START */
/*******************************/


/*******************************/
/* scatterplot start           */
/*******************************/
.chartDiv {
    float:left;
    width: 320px;
    height: 320px;
    padding:0;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    cursor: crosshair;
    border: 0;
    margin: 0;
}
#rband {
    position:absolute;
    display:none;
    width:0px;
    height:0px;
    padding:0;
    cursor: crosshair; 
    border: 2px solid red;
    background-color: white;
    opacity: 0.50;
    filter: alpha(opacity=50);
}
/*******************************/
/* scatterplot end             */
/*******************************/


