<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

 <beans>
    <bean id="gazetteer" class="org.ala.rest.GazetteerSearchResource"/>
    

    <bean id="gazetteerMapping" class="org.geoserver.rest.RESTMapping">
       <property name="routes">
          <map>
            <entry>
              <key><value>/gazetteer-search/result.{format}</value></key>
              <value>gazetteer</value>
            </entry>
         </map>
      </property>
    </bean> 

    <bean id="featureService" class="org.ala.rest.FeatureServiceResource"/>

    <bean id="featureServiceMapping" class="org.geoserver.rest.RESTMapping">
       <property name="routes">
          <map>
            <entry>
              <key><value>/{layer}/{type}.{format}</value></key>
              <value>featureService</value>
            </entry>
         </map>
      </property>
    </bean>
</beans>

