<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

 <beans>
  
    <bean id="gazetteerConfig" class="org.ala.rest.GazetteerConfig"/>

    <bean id="gazetteerIndex" class="org.ala.rest.GazetteerIndex"/>

    <bean id="search" class="org.ala.rest.SearchResource"/>

    <bean id="searchMapping" class="org.geoserver.rest.RESTMapping">
       <property name="routes">
          <map>
            <entry>
              <key><value>/gazetteer/result.{format}</value></key>
              <value>search</value>
            </entry>
            <entry>
              <key><value>/gazetteer/search.{format}</value></key>
              <value>search</value>
            </entry>
         </map>
      </property>
    </bean>

     <bean id="featureService" class="org.ala.rest.FeatureServiceResource"/>

    <bean id="featureServiceMapping" class="org.geoserver.rest.RESTMapping">
       <property name="routes">
          <map>
            <entry>
              <key><value>/{help}.{format}</value></key>
              <value>featureService</value>
            </entry>
            <entry>
              <key><value>/gazetteer/{layer}.{format}</value></key>
              <value>featureService</value>
            </entry>
            <entry>
              <key><value>/gazetteer/{layer}/{id1}.{format}</value></key>
              <value>featureService</value>
            </entry>
            <entry>
              <key><value>/gazetteer/{layer}/{id1}/{id2}.{format}</value></key>
              <value>featureService</value>
            </entry>

         </map>

      </property>
    </bean> 
</beans>

