<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://obsidian.bluenet.utas.edu.au:5432/portal</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="au/org/emii/portal/servlet/WorldDepth.hbm.xml"/>
    <mapping resource="au/org/emii/portal/userdata/UserSearch.hbm.xml"/>
    <mapping resource="../java/au/org/emii/portal/userdata/UserMap.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
