a.button, button{
    display:inline-block;
    /*float:right;*/
    margin:0 5px 0 0;
    background-color:#f0f0f0;
	background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #f0f0f0)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f0f0f0'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f0f0f0')"; /* IE8 */
	
    border:1px solid #d9d9d9;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-icab-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;

    font-family:Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#333a3f;
    cursor:pointer;
    padding:5px 8px 6px 7px; /* Links */
}
a.button:last-child, button:last-child {
	margin-right:0;
}
button{
    width:auto;
    overflow:visible;
    padding:4px 8px 3px 7px; /* IE6 */
}
button[type]{
    padding:5px 8px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 8px 3px 7px; /* IE7 */
}
button img, a.button img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/*small*/
a.button.small, button.small{
    display:inline-block;
    float:none;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-icab-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	
    font-size:100%;
    line-height:130%;
    font-weight:bold;
	
    padding:2px 5px 1px 5px; /* Links */
}
button.small{
    padding:1px 5px 0px 5px; /* IE6 */
}
button.small[type]{
    padding:2px 5px 1px 5px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button.small[type]{
    padding:1px 5px 0px 5px; /* IE7 */
}

/* STANDARD */

button:hover, a.button:hover{
    background-color:#dff4ff;
	background-image: -moz-linear-gradient(top, #ffffff, #dff4ff); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #dff4ff)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dff4ff'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dff4ff')"; /* IE8 */
    border:1px solid #c2e1ef;
    color:#3a5c83;
}
a.button:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, a.button.positive{
    color:#297b01;
}
a.button.positive:hover, button.positive:hover{
    background-color:#fff;
	background-image: -moz-linear-gradient(top, #ffffff, #43c205); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #43c205)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#43c205'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#43c205')"; /* IE8 */
    border:1px solid #297b01;
    color:#fff;
}
a.button.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}
/* CAUTION */

a.button.caution, button.caution{
    color:#ef7e04;
}
a.button.caution:hover, button.caution:hover{
    background:#fff;
	background-image: -moz-linear-gradient(top, #ffffff, #ffbb00); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #ffbb00)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#ffbb00'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#ffbb00')"; /* IE8 */
    border:1px solid #ef7e04;
    color:#fff;
}
a.button.caution:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}
/* NEGATIVE */

a.button.negative, button.negative{
    color:#e30202;
}
a.button.negative:hover, button.negative:hover{
    background:#fff;
	background-image: -moz-linear-gradient(top, #ffffff, #e30202); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #e30202)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e30202'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e30202')"; /* IE8 */
    border:1px solid #9a0302;
    color:#fff;
}
a.button.negative:active{
    background-color:#d12f19;
    border:1px solid #ef7e04;
    color:#fff;
}

/*disabled*/
a.button.disabled, button[disabled] {
	cursor:default;
	color:#333a3f;
	background-color:#fff;
	background-image: -moz-linear-gradient(top, #f0f0f0, #fff); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0f0f0),color-stop(1, #fff)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f0f0f0', EndColorStr='#ffffff'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f0f0f0', EndColorStr='#ffffff')"; /* IE8 */
	border:1px solid #d9d9d9;
    border-bottom:1px solid #eee;
    border-right:1px solid #eee;
}

a.button.disabled:hover, button[disabled]:hover {
	cursor:default;
	color:#333a3f;
	background-color:#fff;
	background-image: -moz-linear-gradient(top, #f0f0f0, #fff); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0f0f0),color-stop(1, #fff)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f0f0f0', EndColorStr='#ffffff'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f0f0f0', EndColorStr='#ffffff')"; /* IE8 */
	border:1px solid #d9d9d9;
    border-bottom:1px solid #eee;
    border-right:1px solid #eee;
}

/*overrides and special buttons*/
#header-search button{
    padding:3px 5px 2px 5px; /* IE6 */
}
#header-search button[type]{
    padding:4px 5px 3px 5px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html #header-search button[type]{
    padding:3px 5px 2px 5px; /* IE7 */
}

#content-search form button img{
	margin:0!important;
	width:24px;
	height:24px;
}
#header-search form button img{
	margin:0!important;
	width:16px;
	height:16px;
}

#content-getinvolved a.button, #content-search form button, a.button.orange {
	font: normal 1.8em/1 "Arial Narrow", Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	
	border:1px solid #bc2b03;
	background-color: #df4a21;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#df4a21), to(#d3421a)); 
	background-image: -webkit-linear-gradient(top, #df4a21, #d3421a); 
	background-image:    -moz-linear-gradient(top, #df4a21, #d3421a);
	background-image:     -ms-linear-gradient(top, #df4a21, #d3421a);
	background-image:      -o-linear-gradient(top, #df4a21, #d3421a);
	background-image:         linear-gradient(top, #df4a21, #d3421a);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#df4a21', EndColorStr='#d3421a');
	
	-webkit-box-shadow: 1px 1px 0px #3d464c; /* Saf3.0+, Chrome */
     -moz-box-shadow: 1px 1px 0px #3d464c; /* FF3.5 - 3.6 */
          box-shadow: 1px 1px 0px #3d464c; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
}

#content-getinvolved a.button:hover, #content-search form button:hover, a.button.orange:hover {
	border:1px solid #353d43;
	background-color: #3d464c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3d464c), to(#353d43)); 
	background-image: -webkit-linear-gradient(top, #3d464c, #353d43); 
	background-image:    -moz-linear-gradient(top, #3d464c, #353d43);
	background-image:     -ms-linear-gradient(top, #3d464c, #353d43);
	background-image:      -o-linear-gradient(top, #3d464c, #353d43);
	background-image:         linear-gradient(top, #3d464c, #353d43);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3d464c', EndColorStr='#353d43');

}
#content-getinvolved a.button{
	width:91%;	
}
a.button.orange {
	margin:12px 0;
}