@charset "UTF-8";
/* CSS Document */


/*log in Register */
form#fm1 {
	
}
form#fm1 label{
	display:block;
}

form#fm1 .check label {
	display:inline;
}

form#fm1 input {
	padding:.5em;
}
form#fm1 div.fl-controls-left input {
	width:95%;
}
form#fm1 div.row {
	margin-bottom:.8em;
}

form#fm1 div.btn-row {
	text-align:right;
}
form#fm1 div.btn-row input{
	cursor:pointer;
}
form .row.radio {
	padding:.2em 0 0 0;
}
#page-95 h2, #myprofile h2 {
	width:100%;
}
#page-95 h2 span, #myprofile h2 span, h2 span.head-link-right{
	font-size:.6em;
	float:right;
	padding-top:.5em;
}
h3 span.head-link-right{
	font-size:.7em;
	float:right;
	padding-top:.5em;
}

/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 12px;
	/*margin-top: 4px;*/
}

.alignleft.last {
	margin-right:0;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 12px;
	/*margin-top: 4px;*/
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f0f0e8;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 509px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	margin: 5px;
	padding-bottom:0!important;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}

/*pagination*/
.wp-pagenavi {
	clear: both;
	float:right;
	margin-bottom:24px;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border:1px solid #3a5c83;
	padding: 3px 7px;
	margin: 2px;
}

.wp-pagenavi a:hover{
	border-color:#df4a21;
}

.wp-pagenavi span.current {
	border-color:#df4a21;
	color:#fff;
	background-color:#df4a21;
	cursor:default;
}
.wp-pagenavi .last, .wp-pagenavi .first,.wp-pagenavi .extend ,.wp-pagenavi .last:hover, .wp-pagenavi .first:hover{
	border-color:transparent;
}
/* blog stuff */
.comments-link, .tag-links {
	display:block;
	clear:both;
}
.post-footer {
	border-top:1px dotted #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	padding:5px 0 10px 0;
	margin-bottom:15px;
}

.previous-next {
	border-top:1px solid #d9d9d9;
	width:100%;
	padding-top:10px;
}

.previous-next span {
	width:45%;
}

.previous-next span.right {
	text-align: right;
}

/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}

.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	margin: 0 0 10px 0;
	padding: 5px 0 10px 60px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

/*.commentlist .bypostauthor {
	background-color:blue;
}*/
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 5px;
	left: 5px;
}
.comment-author {
}
.comment-author cite {
	font-weight: bold;
	text-transform:none;
	font-size:1.2em;
	display:inline;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: .8em;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .thread-even {
	background-color: #f0f0e8;
}
.commentlist .bypostauthor {

}

.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0 10px 0 0;
}
.commentlist .children li {
	border-left: 1px dotted #666;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 99%;
	max-width:726px;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: 20%;
}
form#commentform #submit {
	float:right;
}