/* 
    Document   : style
    Created on : Jun 18, 2010, 2:59:07 AM
    Author     : ajay
    Description:
        generic styles for the alaspatial.
*/

body {
    font-family: Helvatica, Verdana, san-serif;
    font-size: 12px;
}

input, select {
    width: 250px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

textarea {
    width: 250px;
    height: 100px;
}

input.button {
    width: 100px;
}