/* 
    Document   : style
    Created on : Jun 18, 2010, 2:59:07 AM
    Author     : ajay
    Description:
        generic styles for the alaspatial.
*/

body {
    font-family: Helvatica, Verdana, san-serif;
    font-size: 12px;
}

input, select {
    width: 250px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

textarea {
    width: 250px;
    height: 100px;
}

input.button {
    width: 100px;
}

.md_heading {
    font-family: Arial, Helvetica, Sans Serif;
    font-size:22.1px;
    color:#718804;
	padding:5px;
	margin:0px;
}

.md_th{
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	font-weight:700;
	font-style:normal;
	color:#000000;
	text-transform:none;
	text-decoration:none;
	letter-spacing:normal;
	word-spacing:0;
	line-height:20.8px;
	text-align:left;
	vertical-align:top;
	direction:ltr;
}

.md_th, .md_td, .md_spacer{
    padding: 0.5em 5px;
}

.md_spacer{
	width:20px;
}

.md_table {
    border-collapse: collapse;
    border-spacing: 0px;
}
.md_value{
	text-align: left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	line-height: 20.8px;
	padding:5px;
}

.md_grey-bg{
	background-color: #F0F0F0;
    border-collapse: collapse;
    border-spacing: 0;
}

a:hover, a:active .md_a {
    color: #DD3102;
    outline: medium none;
    text-decoration: underline;
}

a:link, a:visited .md_a {
    color: #01716E;
    outline: medium none;
    text-decoration: underline;
}